<!DOCTYPE html>
<html>
    <head>
        <title>Users index page</title>
        <style>
            table {
                border-collapse: collapse;
            }
            td, th {
                border: 1px solid black;
                padding: 1em;      }
        </style>
    </head>
    <body>
        <h1>Users</h1>
        <table>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
            <%  User.all.collect do |row| %>
            <tr>
                <td><%= row.firstname%></td>
                <td><%= row.lastname%></td>
                <td><%= row.age%></td>
                <td><%= row.email%></td>
            </tr>
            <% end %>
        </table>
    </body>
</html>
$>
